.About {
  background-image: url("../../assets/About.jpg");
  background-size: cover;
  width: 100%;
  height: 750px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.About_left {
  width: 35%;
  padding-left: 50px;
  box-sizing: border-box;
  /* background-color: mediumaquamarine; */
}
.About_left > * {
  margin: 20px 0px;
}
.About_right {
  width: 50%;
  /* background-color: rgb(141, 180, 167); */
}
.About_left p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  /* or 122% */

  text-align: justify;

  color: #ffffff;
}

/* Swiper CSS */

.swiper {
  width: 70%;
  height: 520px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}
.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-slide:nth-child(1n) {
  background-color: rgb(206, 17, 17);
}

.swiper-slide:nth-child(2n) {
  background-color: rgb(0, 140, 255);
}

.swiper-slide:nth-child(3n) {
  background-color: rgb(10, 184, 111);
}

.swiper-slide:nth-child(4n) {
  background-color: rgb(211, 122, 7);
}

.swiper-slide:nth-child(5n) {
  background-color: rgb(118, 163, 12);
}

.swiper-slide:nth-child(6n) {
  background-color: rgb(180, 10, 47);
}

.swiper-slide:nth-child(7n) {
  background-color: rgb(35, 99, 19);
}

.swiper-slide:nth-child(8n) {
  background-color: rgb(0, 68, 255);
}

.swiper-slide:nth-child(9n) {
  background-color: rgb(218, 12, 218);
}

.swiper-slide:nth-child(10n) {
  background-color: rgb(54, 94, 77);
}
@media screen and (max-width: 768px) {
  .About {
    flex-direction: column;
    height: auto;
  }
  .About_left {
    width: 90%;
  }
  .About_right {
    width: 100%;
  }
  .swiper {
    width: 50%;
    height: 400px;
  }
}
@media screen and (max-width: 426px) {
  .About_right {
    margin-top: 30px;
  }
  .swiper {
    width: 80%;
    height: 450px;
  }
}
