@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style: none;
}
:root {
  --openfont: "Bebas Neue", cursive;
  --bebasfont: "Bebas Neue", cursive;
}
